<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes Manager App</title>
</head>
<body>
<h3> Notes Manager App </h3>
<form method="GET" action="/listings/new">
    <button> Add note</button>
    </form>
    <ul>
    <% for(let notes of allnotes) { %>
    <li><a href="/notes/<%= notes._id %>"> <%= notes.title %> </a></li>
    <% } %>
    </ul>
</body>
</html>